# KDE Config File  
[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kptc -caption "%c" %i %m  
Icon=kptc.png
DocPath=kptc/index.html
Comment=
Comment[de]=
Terminal=0
Name=Kptc
Name[de]=Kptc
